@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scrollbar-width: none;
}

body::-webkit-scrollbar { width: 0 !important; }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.side-panel-scroll::-webkit-scrollbar { width: 0 !important;
}

.App {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #ffffff;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: #E0E0E0 2px solid;
}

.header-button
{
  padding: 12px;
  cursor: pointer;
  position: static;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #BDBDBD;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.header-button-image
{
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}

.header-title
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #8A8A8A;
  width: 1400px;
}
.header-button-preview
{
  /*width: 168px;*/
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #E6F0F0;
  border-radius: 6px;
  color: #006666;
  border-width: 0;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
}

.header-button-preview-image
{
margin-right: 12px;
}
.header-button-next
{
  margin-right: 20px;
  text-transform: uppercase;
  width: 168px;
  height: 42px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #006666;
  border-radius: 6px;
  color: #ffffff;
  border-width: 0;
  cursor: pointer;
}

.box
{
  display: flex;
  align-content:space-between;
  flex-wrap: wrap;
}

.side-panel
{
  width: 400px;
  border-right: #E0E0E0 2px solid;
}

.side-panel-scroll
{
  height: 770px;
  overflow-y: auto;
  scrollbar-width: none;
}

.main-content
{
  /* width: 400px; */
  /*height: 870px;*/
  /* background-color: red; */
  flex-grow:20;
  display: flex;
  align-items: center;
  justify-content: center;

}

.main-text
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.side-panel-container
{
  display: flex;
  align-content:space-between;
  flex-wrap: wrap;

}

.active
{
  background-color: #006666 !important;
  color: #FFFFFF !important;
}

.side-panel-container-block
{
  display: flex;
  flex-direction: column;
  width: 33.3%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  text-transform: uppercase;
  /* Gray / Gray 3 */
  color: #333333;
  font-weight: 500;
  cursor: pointer;
  background-color: #E6F0F0;

}


.side-panel-container-block:hover
{
  color: #ffffff;
  background-color: #3AB8BC;
}

.side-panel-container-backgrounds
{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 23px;
}

.background
{
  width: 336px;
  height: 190px;
  border-radius: 15px;
  /*background-color: rgb(132, 224, 224);*/
  margin-bottom: 23px;
  box-sizing: border-box;
  cursor: pointer;
  background-size: cover;
}
.background:hover
{
  border-radius: 15px;
  border: solid 2px #006666;
}

.left-side-panel-icon
{
  width: 25px;
  height: 24px;
  background-size: cover;
  margin-bottom: 10px;
}

.side-panel-container-block .left-side-panel-icon path
{
  fill: white!important;

}
.selected-icon path {
  fill: white!important;
}

.right-side-panel
{
  position: absolute;
  right: 0;
  background-color: white;
  width: 400px;
  height: 868px;
  border-left: 2px solid #E0E0E0;
  overflow-y: auto;
  scrollbar-width: none;
}



.right-side-panel::-webkit-scrollbar { width: 0 !important;
}


.right-side-panel .title
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  /*margin-top: 32px;*/
  padding: 32px 0 16px;
  border-bottom: 2px solid #E0E0E0;
}

.right-side-panel .content
{
  padding: 32px;
}

.right-side-panel .switch
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  text-transform: uppercase;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 15px;
  flex: none;
  order: 0;
  transition: all .2s ease;
  touch-action: pan-x;
}

.switch .active-tab
{
  transition: all .25s ease;
  background: #E6F0F0;
  border: 2px solid #3AB8BC;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /*display: flex;*/
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  /* Basic/Dark Green */

  color: #006666;
}

.tab
{
  transition: all .25s ease;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 168px;
  height: 50px;
  left: 0px;
  top: 0px;
  padding: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  /*display: flex;*/
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #828282;
}

.sub_title
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #828282;
}

.settings_field
{
  margin-top: 48px;
}

.settings
{
  display: flex;
  flex-direction: row;
}

.settings_field input
{
  padding: 4px 12px;
  position: static;
  width: 72px;
  height: 32px;
margin: 12px 16px 0 5px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 8px;
}



.position{
  background-color: #ffffff;
  display: flex;
  /*height: 10vh;*/
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.position_button
{
  padding: 12px;
  cursor: pointer;
  position: static;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px #BDBDBD;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}

.position_button_image
{
  margin: 0;
  padding: 0;
}

.position_button_image:hover path
{
fill: #0070f3 !important;
  stroke: #0070f3 !important;
}

.hidden_switch
{  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  flex: none;
  border-radius: 45px;
  margin-top: 12px;

}

.hidden_switch_position
{
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
  color: #828282;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;

  transition: all .25s ease;


  border-radius: 40px;
  height: 32px;
  align-items: flex-start;
  padding: 7px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 4px;
}
 .hidden_switch_position_active
{
  cursor: pointer;
  flex-grow: 1;
  border-radius: 40px;
  height: 32px;
  align-items: flex-start;
  padding: 7px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
margin: 4px;
  /* Basic / White */
  background-color: #3AB8BC;
  color: #FFFFFF;
}

 .add_an_event_title
 {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #333333;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   margin: 24px 0px;
 }

 .add_an_event_button
 {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 12px;
   width: 48px;
   height: 48px;

  cursor: pointer;
   background: #FFFFFF;
   box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 0px 10px;
 }

 .add_an_event_container
 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
 }


 .add_an_event_card
 {display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 0px 16px;
   width: 336px;
   /* Gray/Gray 4 */
   padding: 0px;
   border: 2px solid #E0E0E0;
   box-sizing: border-box;
   border-radius: 8px;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 0px;
   margin-top: 32px;
 }

 .add_an_event_card_header
 {
   border-radius: 8px;

   display: flex;
   /*flex-direction: column;*/
   flex-direction: row;
   align-items: center;
   padding: 0px;
   width: 100%;
   height: 56px;
   flex: none;
   order: 1;
   flex-grow: 0;
   padding: 16px;
   background: #FCFBFB;
 }

.add_an_event_card_header_title
{
  /* XL / Текст medium */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Basic / Black */

  color: #333333;


  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.add_an_event_card_content
{
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding: 0px 16px;
  width: 100%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
  /*border-bottom: 2px solid #E0E0E0;*/
}

/* .action
{

} */

.type_of_action_title
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;

  /* Gray/Gray 1 */

  color: #4F4F4F;
  margin-top: 15px;
}

.select
{
  box-sizing: border-box;
margin-bottom: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
margin-top: 4px;
  display: flex;
  align-items: center;
padding: 16px;
  /* Gray / Gray 3 */
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 8px;
  color: #BDBDBD;
  width: 304px;
  height: 56px;
  mix-blend-mode: normal;



  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  background-position: calc(100% - 12px) center !important;
  background: url("arrow_down.svg") no-repeat;
  /*background: url("arrow_up.svg") no-repeat;*/

  /*background: url("data:image/svg+xml,<svg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M18.0002 1.00025C18.0002 1.25625 17.9023 1.51225 17.7073 1.70725L9.70725 9.70725C9.31625 10.0982 8.68425 10.0982 8.29325 9.70725L0.29325 1.70725C-0.09775 1.31625 -0.09775 0.68425 0.29325 0.29325C0.68425 -0.09775 1.31625 -0.09775 1.70725 0.29325L9.00025 7.58625L16.2932 0.29325C16.6842 -0.09775 17.3162 -0.09775 17.7073 0.29325C17.9023 0.48825 18.0002 0.74425 18.0002 1.00025Z' fill='%23333333'/></svg> ") no-repeat;*/
  padding: 8px 32px 8px 16px;
}

.select:visited {
  background: url("arrow_up.svg") no-repeat;

}


.delete-button
{

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: #FFEEED;
  border-radius: 6px;
  color: #D22D25;
  border-width: 0;
  cursor: pointer;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 0 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button-image
{
  margin-right: 12px;
}

.delete-button-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layers-up-image
{
  background: url("layers-up-icon.svg") no-repeat;
}

.position_button:hover .layers-up-image
{
  background-image: url("h-layers-up-icon.svg");
}

#left-side-panel-background-icon
{
  background: url("background-icon.svg") no-repeat;
}

#left-side-panel-background-icon :hover
{
  background: url("background-icon.svg") no-repeat;
}

.side-panel-container-block:hover #left-side-panel-background-icon
{
  background: url("w-background-icon.svg") no-repeat;
}

#left-side-panel-background-icon-active
{
  background: url("w-background-icon.svg") no-repeat;
}

#left-side-panel-objects-icon-active
{
  background: url("w-objects-icon.svg") no-repeat;
}


.side-panel-container-block:hover #left-side-panel-objects-icon
{
  background: url("w-objects-icon.svg") no-repeat;
}

#left-side-panel-objects-icon
{
  background: url("objects-icon.svg") no-repeat;
}


#left-side-panel-layers-icon-active
{
  background: url("w-layers-icon.svg") no-repeat;
}


.side-panel-container-block:hover #left-side-panel-layers-icon
{
  background: url("w-layers-icon.svg") no-repeat;
}

#left-side-panel-layers-icon
{
  background: url("layers-icon.svg") no-repeat;
}

#cursor-icon
{
  margin-left: 5px;
  background: url('cursor-icon.svg') no-repeat;
}

.header-button:hover #cursor-icon
{
  background: url('h-cursor-icon.svg') no-repeat;
}

#cursor-icon-active
{
  margin-left: 5px;
  background: url('active-cursor-icon.svg') no-repeat;
}

#hand-icon
{
  background: url('hand-icon.svg') no-repeat;
}

.header-button:hover #hand-icon
{
  background: url('h-hand-icon.svg') no-repeat;
}

#hand-icon-active
{
  background: url('active-hand-icon.svg') no-repeat;
}

#cancel-icon
{
  background: url('cancel-icon.svg') no-repeat;
}

.header-button:hover #cancel-icon
{
  background: url('h-cancel-icon.svg') no-repeat;
}

.header-button:active #cancel-icon
{
  background: url('active-cancel-icon.svg') no-repeat;
}


 #recover-icon
 {
   background: url('recover-icon.svg') no-repeat;
 }

.header-button:hover #recover-icon
{
  background: url('h-recover-icon.svg') no-repeat;
}

.header-button:active #recover-icon
{
  background: url('active-recover-icon.svg') no-repeat;
}

#layers-up-icon
{
  background: url('layers-up-icon.svg') no-repeat;
}

.position_button:hover #layers-up-icon
{
  background: url('h-layers-up-icon.svg') no-repeat;
}

.position_button:active #layers-up-icon
{
  background: url('active-layers-up-icon.svg') no-repeat;
}

#layers-down-icon
{
  background: url('layers-down-icon.svg') no-repeat;
}

.position_button:hover #layers-down-icon
{
  background: url('h-layers-down-icon.svg') no-repeat;
}

.position_button:active #layers-down-icon
{
  background: url('active-layers-down-icon.svg') no-repeat;
}

#reflection-h-icon
{
  background: url('reflection-h-icon.svg') no-repeat;
}

.position_button:hover #reflection-h-icon
{
  background: url('h-reflection-h-icon.svg') no-repeat;
}

.position_button:active #reflection-h-icon
{
  background: url('active-reflection-h-icon.svg') no-repeat;
}

#reflection-v-icon
{
  background: url('reflection-v-icon.svg') no-repeat;
}

.position_button:hover #reflection-v-icon
{
  background: url('h-reflection-v-icon.svg') no-repeat;
}

.position_button:active #reflection-v-icon
{
  background: url('active-reflection-v-icon.svg') no-repeat;
}

.event_selection
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  position: absolute;
  width: 280px;
  height: 100px;
  right: 32px;
  top: 280px;

  background: #FFFFFF;
  /* Big */

  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

}

.event_selection .event
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333333;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  width: 248px;
  height: 24px;
  cursor: pointer;
}

 .borderline
{
  width: 100%;
  height: 0px;
  border: 1px solid #E0E0E0;
}

 .action-item
 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 24px;
 }

.action_title
{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* Basic / Black */

  color: #333333;

}


.action-delete-button-image
{
  align-self: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.bottom_line
{
  width: 100%;
  height: 0px;
  border: 1px solid #E0E0E0;
  margin-top: 24px;
}

.layers_list
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;

  /*position: absolute;*/
  width: 336px;
  height: 168px;
  left: 32px;
  top: 32px;

}

.layers_image
{
  width: 24px;
  height: 24px;
  /*flex: none;*/
  /*order: 0;*/
  /*flex-grow: 0;*/
  background: url('drag_dots.svg') no-repeat;
}

.layers_name
{
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  padding: 16px 0px;
  gap: 8px;
  width: 336px;
  height: 56px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* Basic / White */

  /*background-color: #D22D25;*/
  border-radius: 3px;

  /* Inside auto layout */

  /*flex: none;*/
  /*order: 0;*/
  /*flex-grow: 0;*/
}

.layer:hover .layers_name
{
  background: #E6F0F0;
  border-radius: 3px;
  cursor: pointer;

}

.layers_image_menu
{
  width: 24px;
  height: 24px;

  margin-left: auto;
  margin-right: 10px;
  /* Inside auto layout */
  background: url('context_menu.svg') no-repeat;
  align-self: flex-end;
  cursor: pointer;
}

.layers_context_menu
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  position: absolute;
  width: 194px;
  height: 136px;

  /* Basic / White */

  background: #FFFFFF;
  /* No hover */
  margin-left: 150px;
  margin-top: 30px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.layers_item
{
  cursor:pointer;
}


.layers_item:hover
{
  color: #019494;
}

.layers_input
{
  outline:none;
  border: none;
  background: rgb(230, 240, 240);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* Basic/Dark Green */

  color: #006666;
}

.layers_input:focus
{
  border: none;
  outline:none;
}
.hit_input
{
  width: 270px !important;
  height: 50px !important;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /*color: #BDBDBD;*/
  padding: 10px;
}